
@font-face {
  font-family: ZT-font;
  src: url('../fonts/ZTNature-Thin.ttf');
}

@font-face {
  font-family: ZT-medium-font;
  src: url('../fonts/ZTNature-Medium.ttf');
}

body {
  background-color: black;
  color:aliceblue;
  font-family: ZT-font;
  letter-spacing: 1px;
  margin-left: 1%;
  margin-right: 1%;
}


nav {
  background-color: #202020c1;
  margin-left: -1%;
  margin-right: -1%;
  padding: 8px 1%;
  /* espacio entre los elementos de la navbar y el recuadro */
  position: sticky;
  top: 0;
  z-index: 1000;
}
  
  .navbar {
    list-style: none; /* quita los puntos de los elementos*/
    display: flex; /*by default is in horizontal direction */
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 30px;               

  }
  
  .navbar li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    display: block;          /* makes the whole area clickable */
  }
  
  .navbar li a:hover {
    background-color: #333333;
    color: wheat;
    border-radius: 6px;     /*redondea los bordes when hovering*/
  }

  .hero {
    position: relative;
    text-align: right;
  }
  
  .hero h1 {
    position: absolute;
    left: 30%;     /*  distance from left of image*/
    right: 1%;
    margin: 0;
    font-size: 7vw;
    font-family: ZT-medium-font;
    color: white;
    z-index: 4;
    text-align: right;
  }
  
  .hero p {
    text-align: left;    
    margin-top: 20px;     /* space below image */
  }
  .hero h3 {
    background-color:#2e2e2ec1;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: clamp(14px, 3vw, 22px);
    /* margin-left: 50%; */
  }

  .hero-image {
    width: 100%;
    height: auto; /*se adapta al resto de la pagina (si fuese 100vh se estiraria hasta rellenar la pagina*/
    display: block; /*evitamos espacios debajo de la imagen*/
    
  }

section {
  max-width: 80%;  
  margin: 0 auto;     /* centers */
  scroll-margin-top: 60px; /*deja un margen de x px al hacer scroll en esa seccion*/
}

#home {
  max-width: 100%;  
}

/* ALL SECTION TITLES*/
section h2 {  
  /* font-family: ZT-medium-font; */
  text-align: center;
  font-size: clamp(32px, 5vw, 64px); /* responsive but not huge on big screens */
  margin-top: 40px;
  margin-bottom: 20px; /*  distance between title and the bottom border */
  padding-bottom: 10px; /*  space between text and underline */
  border-bottom: 1px solid wheat;
}

.dop-box {
  display: flex;             
  gap: 20px;
  justify-content: flex-start;
}

/*.dop-text {
  // flex: 1 1 0px;       
  //min-width: 0px; 
  display: flex;
  gap: 30px;
  align-items: flex-start;
  font-weight: bold;
}*/

.dop-name {
  margin: 6px 0 10px 0;
  font-family: ZT-medium-font;
  /* font-size: 1.8rem; */
  font-size: clamp(18px, 2.5vw, 32px);
}

.dop-quote {
  color:wheat;
  font-weight: bold;
  /* font-size: large; */
  font-size: clamp(14px, 2vw, 20px);
  width: 50%;
}

.dop-short {
  /* font-size: large; */
  flex-grow: 1;
  /* flex: 1; */
  /* max-width: 600px;  */
  color: aliceblue;
  align-content: center;
  /* line-height:2vi; */
  font-size: clamp(14px, 2vw, 20px);
  line-height: 1.6;
}
 
.dop-figure {
  /*flex: 0 0 0;            /* fixed-ish width, but will shrink */
  /*max-width: 30%;*/
  flex: 0 1 90%;   /* allow shrinking and set a reasonable base width */
  text-align: center;
  font-size: small;
    margin-top: 15px;
  margin-inline: 15px 15px;
  filter: grayscale(100%);
}

.dop-figure img {
  width: 100%;
  height: auto;
  display: block;
}


.dop-figure figcaption {
  font-weight:normal;
}


.dop-gallery {
  display: grid;
 /* background-color: #2e2e2ec1;*/
  /* grid-template-columns: repeat(1, 1fr); */
  gap: 8px;
  align-items: center;
  max-width: 80%;
  margin: 0 auto; /*me centra todo*/
}

.dop-card {
  /*padding: 0px;*/
  border-radius: 6px;
  text-align: center;
  margin-top: 15px;
  margin-inline: 15px 15px;
  background-color: #2e2e2ec1;

}
.dop-card img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
 
}

.dop-card figcaption {
  margin-top: 8px;
  font-size: 1.1rem;
   margin-bottom: 8px;
}


  footer {
    color:wheat;
    text-align: right;
    background-color: #2e2e2ec1;

    margin-left: -1%;
    margin-right: -1%;
    padding: 8px 1%;   /* keeps text aligned with the rest */
  }
  